/*============================
=========== GLOVAL ===========
============================*/
body{
  background: #f2f2f2 !important;
}
a{
  padding: none !important;
  text-decoration: none;

}
li{
  list-style-type: none !important;
}
.navbar-brand{
  margin-left: 20px !important;
}
.navbar-right{
  margin-right: 20px !important;
}
.col-md-4{
  padding: 0 !important;
}
#mainTitle{
  margin-right: 25px;
}
#mainTitle h2{
  margin-top: 10px;
}
#twitterContainer{
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px #777777;
  margin: 35px 0 0 0;
  padding: 3px;
  width: 100%;
  max-width: 615px;
}
.contentDivision{
  background: #cccccc;
  box-shadow: 0 3px 10px #777777;
  height: 50px;
}
.navbar.navbar-default{
  margin: 0;
}
.navbar-default .navbar-brand{
  color: white !important;
  font-weight: bolder;
}
.navbar-default .navbar-nav>li>a{
  color: white !important;
}
.navbar-default .navbar-nav>li>a:hover{
  background: red;
  color: white !important;
}
.navbar-default{
  background: #99cc66 !important;
  color: white;
}
.git, .linkedin{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}
.container-fluid{
  padding: 0 !important;
}
#nav-content{
  margin-top: 15px;
}
#mainIng{
  height: auto;
  width: 100%;
}
#articlesContainer{
  border-radius: 5px;
  box-shadow: 0 2px 8px #777777;
  margin: 35px 50px 20px 5px;
  padding: 35px 15px 25px 15px;
  height: auto;
}
.articles{
  border-bottom: thick dotted #ff0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 232, 237);
  padding: 0 0 15px 0;
  height: auto;
}
@media (min-width: 768px){
  .navbar-nav>li>a{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
